.header {
    display: flex;
    align-items: center;
    /* Aligns children vertically in the center */
    background-color: rgb(0, 5, 63);
    height: 12vh;
    padding: 0 20px;
    /* Add some padding on both sides */
    margin-bottom: -10vh;
}

.header-title {
    /* Additional styling for the title */
    margin-right: auto;
    color: white;
    font-family: 'Orbitron', sans-serif !important;
    

    font-weight: lighter !important;
    font-size: 1.7rem;
    /* Keeps the title on the far left */
}

.controls-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30vh;
    /* You might want to adjust or remove this margin */
}

.controls {
    display: flex;
    align-items: center;
    /* Align items vertically in the center */
    gap: 10px;
    /* Optional: adds space between the select dropdown and buttons */
}

.btn {
    /* ... other styles ... */
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    /* Ensuring the line height doesn't push text lines apart */
    padding: 0.5rem 1rem;
    /* Adjust padding as needed */
    white-space: nowrap;
    /* Prevent text from wrapping to a new line */
}

.btn-custom {
    background-color: rgb(30, 197, 197) !important;
    color: white !important;

}

.btn-custom:disabled {
    border-color: transparent !important;
    color: black !important;
    background-color: rgb(0, 79, 86) !important;
    opacity: .4 !important;

}